*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    background-color:  hsl(30, 54%, 90%);
    font-family: "Outfit", sans-serif;
}
body{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 73.6rem;
    background-color: white;
    border-radius: 2rem;
    padding: 4rem;
}
.inner-container{
    width: 6.56rem;
}
img{
    width: 65.6rem;
    height:30rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}
.header{
    padding: 2rem 0 1.6rem 0;
}
h1{
    font-size: 4rem;
    color: hsl(24, 5%, 18%);
}
h1, h2{
    font-family: "Young Serif", serif;
    font-weight: 400;
    letter-spacing: 1.3px;
    margin-bottom: 1.2rem;
}
p{
    font-size: 1.6rem;
    font-weight: 300;
    color: hsl(30, 10%, 34%);
}
.section-prep-time{
    margin: 1.6rem 0;
    padding: 2.8rem 2.8rem;
    background-color: hsl(330, 100%, 98%);
    border-radius: 2rem;
}
h3{
    color: hsl(332, 51%, 32%);
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: .5rem;
}
li span{
    font-weight: 600;
    color: hsl(30, 10%, 34%);
}
li::marker{
    color: hsl(332, 51%, 32%);
    font-size: .70em;
}
li{
    color: hsl(30, 10%, 34%);
    font-weight: 300;
    font-family: "Outfit";
    font-size: 1.6rem;
    padding-left: 2.4rem;
}
ul, ol{
    line-height: 3.2rem;
    align-content: center;
    padding: 0 2rem;
}
ol{
    line-height: 2.4rem;
    padding: 0 2.4rem
}
.section-ingredients{
    padding: 1.6rem 0 3.2rem 0;
}
.section-instructions li{
    margin-bottom: 1rem;
}
.section-instructions li:last-child{
    margin-bottom: 0;
}
.section-instructions li::marker{
    font-size: 1.6rem;
    font-weight: 600;
}
h2{
    color: hsl(14, 45%, 36%);
    font-size: 3rem;
}
hr {
    border: 0;
    height: 1px;
    background-color: hsl(30, 18%, 87%);
}
.section-instructions{
    padding: 3.2rem 0;
}